//2018 values

///////////////////////////////////////////////////////////////////////// -- BENNU -- ///////////////////////////////////////////////////////////////////////////////////
// Bennu asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 03 Dec 2018 17:00:00 UTC
// Data retrieved 2021-Jul-06
r_fin_ast=9.463030496712933E-01
theta_fin_ast=3.755172776972315E-01
z_fin_ast=3.338702531051765E-02

vr_fin_ast=-2.916546571074139E-08
vtheta_fin_ast=2.173553959706385E-07
vz_fin_ast=2.062999744872404E-08

// orbital period time of 1999RQ36 Bennu (s) 
orbitalPeriod=3.772645011085093e+07  



////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of arrival
r_fin_earth=9.857045197029908E-01
theta_fin_earth=1.242975503287042
z_fin_earth=-4.332189909686674E-05


vr_fin_earth=-1.755004992027024E-09
vtheta_fin_earth=2.019592304815492E-07
vz_fin_earth=-2.312712519131594E-12