///////////////////////////////////////////////////////////////////////// -- BENNU -- ///////////////////////////////////////////////////////////////////////////////////
// New Bennu asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 02 Jun 2024 04:34:00 UTC
// Data retrieved 11 June 2021
r_fin_ast=1.34825711044
theta_fin_ast=-1.89539170567
z_fin_ast=-1.33396668937e-01

vr_fin_ast=-2.69083993766e-09
vtheta_fin_ast=1.52558327059e-07
vz_fin_ast=-5.40207992563e-09

// orbital period time of 1999RQ36 Bennu (s)
orbitalPeriod=3.772645011085093e+07 
//orbital inclination of 1999RQ36 Bennu (rad)
//orbitalInclination=0.105329565020228 


////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of impact
r_fin_earth=1.01419527160
theta_fin_earth=-1.88829982920
z_fin_earth=5.58713367671e-05

vr_fin_earth=1.72434133482e-09
vtheta_fin_earth=1.96284621581e-07
vz_fin_earth=2.49630769872e-12

