////////////////////////////////////////////////////////////////////////// -- DIDYMOS -- //////////////////////////////////////////////////////////////////////////////////
// Old Didymos asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 30 Sep 2022 19:55:00 UTC
// Data retrieved 02 July 2020
r_fin_ast=1.03524021424
theta_fin_ast=1.59070192235e-01
z_fin_ast=-5.54192740243e-02

vr_fin_ast=-2.5351243043e-08
vtheta_fin_ast=2.27305994342e-07
vz_fin_ast=7.29854417815e-09

// orbital period time (seconds) & inclination (radians) of 65803 Didymos
orbitalPeriod=6.653820100923719e+07 
//orbitalInclination=0.0594906


////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of impact
r_fin_earth=1.00140803385
theta_fin_earth=1.27861332991e-01
z_fin_earth=-1.1953654e-05

vr_fin_earth=-3.30528017792e-09
vtheta_fin_earth=1.98791889006e-07
vz_fin_earth=-9.89458740916e-12


