// Config file for Didymos Optimization Project
// For more in-depth information, refer to config_readme.md

time_seed=NONE          // Randomization seed, set to NONE for time(0) as seed
max_generations=10001   // Set maximum number of generations for the optimization algorithm to evaluate
run_count=1            // Set number of runs to perform (first run is equal to set time_seed)

// Initial start point for the algorithm, initial_start_file_address only used if random_start is set to "false"
random_start=true
initial_start_file_address=../Config_Constants/optimizedVector.bin // optimizedVector.bin probably shouldn't be used as it is from Summer 2019 and not reflective of Summer 2020 changes

// When random_start=true, these are the maximum ranges for the initial parameter guesses (+/- of these values)
gamma_random_start_range=3.14159
tau_random_start_range=1.570795
coast_random_start_range=3.14159

triptime_max=1.5
triptime_min=1.0
alpha_random_start_range=3.14159
beta_random_start_range=3.14159    // beta operates differently, not allowing negative values so the range is from 0 to beta_random_start_range
zeta_random_start_range=1.570795

record_mode=true // Determines if recordGenerationPerformance() is called at all in a run
write_freq=10     // how frequent between generations to calls recordGenerationPerformance()
disp_freq=100     // how frequent between generations to call terminalDisplay(), does not impact the output for declaring changes to anneal or dRate

// Algorithm Solution demands
best_count=1
pos_threshold=1.0e-10
coast_threshold=0.5

// Anneal determination properties
anneal_factor=0.5
anneal_initial=0.01
change_check=100

survivorRatio=0.5 // ratio of best individuals by posDiff to those by velDiff chosen for survivor pool (0.5 is half and half)

// Mutation Rate and scales for specific parameter types
mutation_rate=0.5

// Guesses at what should be used. More work could be done to optimized
// Scale determines min/max possible change to value per mutation
gamma_mutate_scale=3.14159
tau_mutate_scale=1.570795
coast_mutate_scale=3.14159
//triptime_mutate_scale=triptime_max-triptime_min
triptime_mutate_scale=0.5
zeta_mutate_scale=1.570795
beta_mutate_scale=1.570795
alpha_mutate_scale=3.14159

thruster_type=1 // Thruster: 0 is none and 1 is NEXT ion thruster

dry_mass=500    // Mass of the spacecraft without fuel (kg)
fuel_mass=150   // Mass of the fuel that spacecraft will have (kg)

// Determines initial velocity magnitude
c3scale=1.0
c3energy=4.676e6         // Mission is 4.676e6
v_impact=4.399378072e-08 // Official DART impact velocity

// Various values that impact runge kutta
rk_tol=1e-12
doublePrecThresh=1e-12
GuessMaxPossibleSteps=1000000
max_numsteps=2500
min_numsteps=400

// Pool Size and Thread Block Size - Recommended to not change these values!
num_individuals=2880
// survivor_count needs to be 1/8 of the num_individuals
survivor_count=360
thread_block_size=32

timeRes=3600 // Earth Calculations Time Resolution Value

sun_r_min=0.9 //minimum distance the asteroid can get to the sun

//Insert either the config file for the destination, e.g., bennu.config or didymos.config
destination=bennu.config