//////////////////////////////////////////////////////////////////// -- INITIALIZING & RANDOM -- /////////////////////////////////////////////////////////////////////////
// Config file for Didymos Optimization Project
// For more in-depth information, refer to config_readme.md
// nvcc -ccbin "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.22.27905\bin\Hostx64\x64\cl.exe" -o test optimization.cu -arch=compute_50 -code=sm_50

time_seed=NONE          // Randomization seed, set to NONE for time(0) as seed
max_generations=5001    // Set maximum number of generations for the optimization algorithm to evaluate
run_count=10            // Set number of runs to perform (first run is equal to set time_seed)

// Initial start point for the algorithm, initial_start_file_address only used if random_start is set to "false"
random_start=true
initial_start_file_address=../Config_Constants/optimizedVector.bin // optimizedVector.bin probably shouldn't be used as it is from Summer 2019 and not reflective of Summer 2020 changes


//////////////////////////////////////////////////////////////////////// -- RUNGE KUTTA -- /////////////////////////////////////////////////////////////////////////////
// Various values required in Runge Kutta
rk_tol=1e-12
doublePrecThresh=1e-13
max_numsteps=3600
min_numsteps=400

coast_threshold=0.5             //Determines if thruster is on or off based on coast coefficient

timeRes=3600               // Earth Calculations Time Resolution Value

maxSimNum=3                //The maximum number of simulation cycles that can be ran per generation before it is cut off


//////////////////////////////////////////////////////////////////// -- POOL & THREAD BLOCK -- /////////////////////////////////////////////////////////////////////////
// Pool Size and Thread Block Size - Recommended to not change these values!
num_individuals=720
survivor_count=180
thread_block_size=32


////////////////////////////////////////////////////////////////////////// -- OUTPUT -- /////////////////////////////////////////////////////////////////////////////////
record_mode=true // Determines if recordGenerationPerformance() is called at all in a run
write_freq=1     // how frequent between generations to calls recordGenerationPerformance()
all_write_freq=200  //How frequent between generations to call recordAllIndividuals()
disp_freq=25     // how frequent between generations to call terminalDisplay(), does not impact the output for declaring changes to anneal or dRate


////////////////////////////////////////////////////////////////////// -- GENETIC ALGORITHM -- ///////////////////////////////////////////////////////////////////////////
// When random_start=true, these are the maximum ranges for the initial parameter guesses (+/- of these values)
gamma_random_start_range=3.14159
tau_random_start_range=1.570795
coast_random_start_range=3.14159
alpha_random_start_range=3.14159
beta_random_start_range=3.14159    // beta operates differently, not allowing negative values so the range is from 0 to beta_random_start_range
zeta_random_start_range=1.570795

// Mutation Rate and scales for specific parameter types
mutation_amplitude=1                 //The default mutation strength. Set at one to allow for the mutation scales below to be applied normally/to children at face value
default_mutation_chance=0.75         //The default chance an individual has a gene mutated

// Guesses at what should be used. More work could be done to optimized
// Scale determines min/max possible change to value per mutation
gamma_mutate_scale=3.14159
tau_mutate_scale=1.570795
coast_mutate_scale=3.14159
//If triptime_mutate_scale is commented out, it will automatically be set to the difference between triptime_min and triptime_max
//  However, if you want to manually set it, you can still do that here if the line is uncommented
//triptime_mutate_scale=3.5
zeta_mutate_scale=1.570795
beta_mutate_scale=1.570795
alpha_mutate_scale=3.14159


/////////////////////////////////////////////////////////////////////////// -- OTHER -- //////////////////////////////////////////////////////////////////////////////////
// Anneal determination properties
anneal_initial=2.0e-2               //The starting point of anneal & mutations
anneal_final=1.0e-8                 //The lowest anneal can be reduced to

// Algorithm Solution demands
best_count=1                    //Number of individuals that must converge before the program decides it's successful