/////////////////////////////////////////////////////////////////////////// -- MISSION -- ////////////////////////////////////////////////////////////////////////////////

//Mission objective selection
//  Structure: include the desired goal, the target value, the allowed difference, the goal difference, and the equate tolerance (separated by commas)
//
//      GOAL: The desired goal of the Objective, options are below
//          * POS_DIFF: Target final position difference between the target and the craft (Au)
//          * SPEED_DIFF: Target final speed difference between the target and the craft (Au/s)
//          * ORBIT_POS_DIFF: Target final difference between the orbital distance from the target and the craft (Au)
//          * ORBIT_SPEED_DIFF: Target final difference between the desired orbital velocity around the target and the craft's velocity (Au/s)
//              NOTE: If using sorting by posDiff or speedDiff, set the orbitalRadius and orbitalSpeed both to -1 (NOT_APPLICABLE)
//                    If orbitalRadius and orbitalSpeed are not -1, it will calculate speedDiff and posDiff for an orbital mission,
//                      not a rendezvous or impact mission
//                    The orbital radius and speed should be set to -1 by default, however it may be worth making sure they are set to -1 of non-orbit config files
//          * HORZ_ANGLE_DIFF: Target final horizontal plane velocity angle difference between the target and the craft (degrees)
//          * VERT_ANGLE_DIFF: Target final vertical plane velocity angle difference between the target and the craft (degrees)
//          * FUEL_SPENT: Target fuel used by the spacecraft during the simulation (Kg)
//          * TRIP_TIME: Target trip time of the simulations (s)
//              NOTE: This goal does not work well, likely due to a fluke of how optimization works (see the 2022 worklog for more detail)
//                    The recommendation is to modify min and max triptime instead and let the other goals optimize around the constraint
//                    If used, the thresholds are in seconds, not years 
// 
//      TARGET VALUE: The value of the mission output the algorithm will optimize towards
//      
//      ALLOWED DIFFERENCE: The difference from the target under which a individual will be considered converged for the objectives
//          * An individual who has parameters better than all allowed differences, it will be considered converged
//
//      GOAL DIFFERENCE: The difference from the target where the algorithm will stop optimizing further
//          * If two individuals have parameters which are under the goal difference for the objectives, the objective will not be considered when determining domination 
//              NOTE: This means that the goal difference must be at least marginally better than the allowed difference for the goal to ever be solved
//
//      EQUATE TOLERANCE: How precise values for this goal will be compared
//          * If two individual's parameters for a goal have a difference less than the equate tolerance, they will be considered equal for that goal 

Mission_Objectives:
pos_diff, 5e-12, 5e-12, 3e-12, 1e-14
speed_diff, 5e-11, 5e-11, 3e-11, 1e-14
fuel_spent, 250, 50, 25, 0.1
//NOTE: There must be an empty line or a comment after the last objective

//Insert either the config file for the destination, e.g., bennu.config or didymos.config
destination=bennu.config

//Example Objectives:
// DART
//  pos_diff, 5e-12, 5e-12, 3e-12, 1e-14
//  horz_angle_diff, 121.15, 1.5, 0.5, 0.1
//  vert_angle_diff, -43.3, 1.5, 0.5, 0.1

// OSIRIS-REx
//  pos_diff, 5e-12, 5e-12, 3e-12, 1e-14
//  speed_diff, 5e-11, 5e-11, 3e-11, 1e-14

// Psyche
//  orbit_pos_diff, 3e-9, 5.13e-9, 5e-9, 1e-14
//  orbit_speed_diff, 1e-11, 4.86E-11, 3e-11, 1e-14
//  mars_dist, 1E-05, 3.7e-4, 1.6002515E-05, 1e-14
//   or
//  orbit_asst, 7.0e-8, 6.0e-8, 1.0e-8, 1e-14

// Other Objectives
//  fuel_spent, 250, 25, 5, 0.1
//  trip_time, 34560000, 10000000, 5000000, 3600