///////////////////////////////////////////////////////////////////////// -- SPACECRAFT -- ///////////////////////////////////////////////////////////////////////////////

thruster_type=1 // The type of thruster used on the spacecraft
                //      0 is none and 1 is NEXT ion thruster

dry_mass=325    // Mass of the spacecraft without fuel (kg)
fuel_mass=325   // Mass of the fuel that spacecraft will have (kg)

// Determines initial velocity magnitude
c3scale=1.0
c3energy=4.676e6         // DART mission value
v_impact=4.399378072e-08 // DART mission value


/////////////////////////////////////////////////////////////////////////// -- MISSION -- ////////////////////////////////////////////////////////////////////////////////

//Insert either the config file for the destination, e.g., bennu.config or didymos.config
destination=bennu.config

//The allowed triptime range (in years)
triptime_max=2.0
triptime_min=1.0

//Mission objective selection
//  Structure: include the objective name, the desired goal, the convergence threshold, and the domination threshold, separated by commas
//      The name is what the objective will be referred to as in the program
//      List of possible parameter goals (case does not matter):
//          Min_Pos_Diff, Min_Speed_Diff, Max_Speed_Diff, Min_Fuel_Spent, Min_Trip_Time
//      The convergence threshold is the value where any value better than it will be considered solved
//          Can be thought of as the target that the program needs to hit
//      The domination threshold is the point where the program will stop favoring better values
//          Can be thought of as the desired, but not hard goal of the program

//      Example Objective Entry: Position Difference, min_pos, 1e-10, 1e-12
Mission_Objectives:
    posDiff, min_pos, 1e-10, 1e-11
    speedDiff, min_speed, 1e-11, 1e-12
    fuelSpent, min_fuel_spent, 120, 50

//Landing types
//Mission Types: "2" - indicates a soft landing on a body, "1" - indicates a crash at a high speed into a body
//missionType=2

//pos_threshold=1.0e-10           //Position-Based tolerance to determine if impact/rendevouz missions are successful
//speed_threshold=1.0e-11         //SpeedDiff-Based tolerance to determine if rendevouz missions are successful