////////////////////////////////////////////////////////////////////////// -- MARS (assist) -- //////////////////////////////////////////////////////////////////////////////////
// Mars values
// Mars position and velocity at time of gravity assist
// Values based on date: 24 May 2023 00:00:00 UTC
// Data retrieved 12 July 2022
// X =-2.221828579279321E+08 Y = 1.125498817485882E+08 Z = 7.808886623190187E+06
// VX=-1.004028345695999E+01 VY=-1.954745635560633E+01 VZ=-1.633920084866398E-01

//r_assist_mars=
//theta_assist_mars=
//z_assist_mars=

//vr_assist_mars=
//vtheta_assist_mars=
//vz_assist_mars=

////////////////////////////////////////////////////////////////////////// -- MARS (impact) -- //////////////////////////////////////////////////////////////////////////////////
// Mars values
// Mars position and velocity at time of impact
// Values based on date: 26 Jan 2026 00:00:00 UTC
// Data retrieved 12 July 2022
// X = 6.788211654048185E-01 Y =-1.230217391581282E+00 Z =-4.242581262841030E-02
// VX= 1.278228895933317E-02 VY= 7.962276738582937E-03 VZ=-1.465808140219174E-04

r_fin_mars=1.40507402123 //in AU
theta_fin_mars=5.21660512793 //in rad (2pi+1.06658017924)
z_fin_mars=-4.24258126284e-02 //in AU

//all in AU/s
vr_fin_mars=-9.21299683135e-09
vtheta_fin_mars=1.74054657652e-07
vz_fin_mars=-1.69653719932e-09

////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of arrival
// X =-5.740917945809353E-01 Y = 7.998817477980121E-01 Z =-4.470971661342622E-05
// VX=-1.425661085314258E-02 VY=-1.009619083308822E-02 VZ= 6.803990745354085E-07
r_fin_earth=9.84577167653e-01 //in AU
theta_fin_earth=2.19331672511 //in rad
z_fin_earth=-4.47097166134e-05 //in AU

//all in AU/s
vr_fin_earth=1.27950840812e-09
vtheta_fin_earth=2.02189434687e-07
vz_fin_earth=7.87498928860e-12


///////////////////////////////////////////////////////////////////////// -- PSYCHE -- ///////////////////////////////////////////////////////////////////////////////////
// Psyche asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 26 Jan 2026 00:00:00 UTC
// Data retrieved 12 July 2022
// X = 1.386802281980569E-01 Y = 2.722312030081536E+00 Z =-1.313313155605537E-01
// VX=-1.059918369324184E-02 VY= 1.811827137508805E-03 VZ= 2.018632262875054E-04

r_fin_ast=2.72584207077 //in AU
theta_fin_ast=1.51989824813 //in rad
z_fin_ast=-1.31331315560e-01 //in AU

//all in AU/s
vr_fin_ast=1.47018007615e-08
vtheta_fin_ast=1.23583751922e-07
vz_fin_ast=2.33637993388e-09

//orbitalPeriod (seconds)
orbitalPeriod=1.5764877936e+8

//R_Mars + altitude (=500 km) -> in AU
gravAssistDist=2.6002515E-05 

pos_threshold=1.0e-10           //Position-Based tolerance to determine if impact/rendevouz missions are successful
speed_threshold=1.0e-11         //SpeedDiff-Based tolerance to determine if rendevouz missions are successful

posDominationThreshold=5.0e-11      //The limit of how low posDiff can be before it stops dominating others with posDiffs just as low
speedDominationThreshold=5.0e-12    //The limit of how low speedDiff can be before it stops dominating others with speedDiffs just as low

//in years
//mars_triptime_max=2.7
//mars_triptime_min=0.0