////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of arrival
// X =-5.740917945809353E-01 Y = 7.998817477980121E-01 Z =-4.470971661342622E-05
// VX=-1.425661085314258E-02 VY=-1.009619083308822E-02 VZ= 6.803990745354085E-07
r_fin_earth=9.84577167653e-01 //in AU
theta_fin_earth=2.19331672511 //in rad
z_fin_earth=-4.47097166134e-05 //in AU

//all in AU/s
vr_fin_earth=1.27950840812e-09
vtheta_fin_earth=2.02189434687e-07
vz_fin_earth=7.87498928860e-12


///////////////////////////////////////////////////////////////////////// -- PSYCHE -- ///////////////////////////////////////////////////////////////////////////////////
// Psyche asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 26 Jan 2026 00:00:00 UTC
// Data retrieved 12 July 2022
// X = 1.386802281980569E-01 Y = 2.722312030081536E+00 Z =-1.313313155605537E-01
// VX=-1.059918369324184E-02 VY= 1.811827137508805E-03 VZ= 2.018632262875054E-04

r_fin_target=2.72584207077 //in AU
theta_fin_target=1.51989824813 //in rad
z_fin_target=-1.31331315560e-01 //in AU

//all in AU/s
vr_fin_target=1.47018007615e-08
vtheta_fin_target=1.23583751922e-07
vz_fin_target=2.33637993388e-09

//orbitalPeriod (seconds)
orbitalPeriod=1.5764877936e+8

orbitalRadius=1.31e-06 //In AU
orbitalSpeed=5.86e-10  //In AU/s

//R_Mars + altitude (=500 km) -> in AU
gravAssistDist=2.6002515E-05 


////////////////////////////////////////////////////////////////////////// -- MARS (impact) -- //////////////////////////////////////////////////////////////////////////////////
// Mars values
// Mars position and velocity at time of impact
// Values based on date: 26 Jan 2026 00:00:00 UTC
// Data retrieved 12 July 2022
// X = 6.788211654048185E-01 Y =-1.230217391581282E+00 Z =-4.242581262841030E-02
// VX= 1.278228895933317E-02 VY= 7.962276738582937E-03 VZ=-1.465808140219174E-04

r_fin_mars=1.40507402123 //in AU
theta_fin_mars=5.21660512793 //in rad (2pi+1.06658017924)
z_fin_mars=-4.24258126284e-02 //in AU

//all in AU/s
vr_fin_mars=-9.21299683135e-09
vtheta_fin_mars=1.74054657652e-07
vz_fin_mars=-1.69653719932e-09


///////////////////////////////////////////////////////////////////////// -- SPACECRAFT -- ///////////////////////////////////////////////////////////////////////////////

thruster_type=1 // The type of thruster used on the spacecraft
                //      0 is none and 1 is NEXT ion thruster

dry_mass=100    // Mass of the spacecraft without fuel (kg)
fuel_mass=400   // Mass of the fuel that spacecraft will have (kg)

// Determines initial velocity magnitude
c3scale=1.0
c3energy=13.6e6          // Psyche mission values range from 13.6-16.8e6 (m/s)^2

//The allowed triptime range (in years)
triptime_min=4.5
triptime_max=8.0

//closest the spacecraft can get to the sun (AU)
sun_r_min=0.8

MSOI_steps=300 //The stepSize in MSOI will be determined by MSOI_steps*max_numsteps
MSOI_error=1.0 //scale to multiply the actual MSOI by to make it larger or smaller