////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of arrival
// X =-5.740917945809353E-01 Y = 7.998817477980121E-01 Z =-4.470971661342622E-05
// VX=-1.425661085314258E-02 VY=-1.009619083308822E-02 VZ= 6.803990745354085E-07
r_fin_earth=9.84577256178e-01 //in AU
theta_fin_earth=2.19333093263 //in rad
z_fin_earth=-4.47091717808e-05 //in AU

//all in AU/s
vr_fin_earth=1.27955198482e-09
vtheta_fin_earth=2.02189416492e-07
vz_fin_earth=7.87511906209e-12


///////////////////////////////////////////////////////////////////////// -- PSYCHE -- ///////////////////////////////////////////////////////////////////////////////////
// Psyche asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 26 Jan 2026 00:00:00 UTC
// Data retrieved 12 July 2022
// X = 1.386802281980569E-01 Y = 2.722312030081536E+00 Z =-1.313313155605537E-01
// VX=-1.059918369324184E-02 VY= 1.811827137508805E-03 VZ= 2.018632262875054E-04

r_fin_target=2.72584309385 //in AU
theta_fin_target=1.51990140182 //in rad
z_fin_target=-1.31331153103e-01 //in AU

//all in AU/s
vr_fin_target=1.47018208333e-08
vtheta_fin_target=1.23583705725e-07
vz_fin_target=2.33639776583e-09

//orbitalPeriod (seconds)
orbitalPeriod=1.5764877936e+8

orbitalRadius=1.31E-06 //in AU -> radius of Psyche (111 km) + 85 km
orbitalSpeed=5.86E-10 //in AU/s -> circular orbital speed at 85 km

//R_Mars + altitude (=500 km) -> in AU
//gravAssistDist=2.6002515E-05 

//R_Mars + altitude (=1000 km) -> in AU
//gravAssistDist=2.9338E-05 

//R_Mars + altitude (=1500 km) -> in AU
gravAssistDist=3.268E-05 

//Time in gravity assist (s)
gravAssistTime=604800
//Fraction of the tripTime is dedicated to a SOI simulation
gravAssistTimeFrac=.001

////////////////////////////////////////////////////////////////////////// -- MARS (impact) -- //////////////////////////////////////////////////////////////////////////////////
// Mars values
// Mars position and velocity at time of impact
// Values based on date: 26 Jan 2026 00:00:00 UTC
// Data retrieved 12 July 2023
// X = 6.788211654048185E-01 Y =-1.230217391581282E+00 Z =-4.242581262841030E-02
// VX= 1.278228895933317E-02 VY= 7.962276738582937E-03 VZ=-1.465808140219174E-04

r_fin_mars=1.40507338351 //in AU
theta_fin_mars=5.216613698 //in rad (2pi-1.0665716088)
z_fin_mars=-4.24259310311e-02 //in AU

//all in AU/s
vr_fin_mars=-9.21289236721e-09
vtheta_fin_mars=1.740547366392e-07
vz_fin_mars=-1.69649528608e-09


///////////////////////////////////////////////////////////////////////// -- SPACECRAFT -- ///////////////////////////////////////////////////////////////////////////////

thruster_type=2 // The type of thruster used on the spacecraft
//                  0 is none, 1 is NEXT ion thruster, 2 is SPT-140 Hall thruster, 3 is AEPS ion thruster

//Mission baseline is 1965 kg dry mass; 915 kg fuel 
dry_mass=100    // Mass of the spacecraft without fuel (kg)
fuel_mass=500   // Mass of the fuel that spacecraft will have (kg)

// Determines initial velocity magnitude
c3scale=1.0
c3energy=14.5e6          // Psyche mission values range from 13.6-16.8e6 (m/s)^2

//The allowed triptime range (in years); mission baseline is 3.6 years (from August 2022 to January 2026)
triptime_min=2.5
triptime_max=4.5

//closest the spacecraft can get to the sun (AU)
sun_r_min=0.8

MSOI_scale=4.0 //Spatial scale to multiply the actual MSOI by to make it larger or smaller