**/bin
**/.vscode
*.exe
*.json
*.csv
*.exp
*.lib
*.bin
#**/CUDA/**/*.lib
#**/CUDA/**/*.exp
*final-optimization.bin
*final-optimization.txt
*orbitalMotion-accel.bin
*optimized-start-conditions.txt
*.config