////////////////////////////////////////////////////////////////////////// -- DIDYMOS -- //////////////////////////////////////////////////////////////////////////////////
// Old Didymos asteroid values
// Asteroid position and velocity at time of impact
// Values based on date: 30 Sep 2022 19:55:00 UTC
// Data retrieved 02 July 2020
r_fin_target=1.03524021424 //in AU
theta_fin_target=1.59070192235e-01 //in rad
z_fin_target=-5.54192740243e-02 //in AU

//all in AU/s
vr_fin_target=-2.5351243043e-08
vtheta_fin_target=2.27305994342e-07
vz_fin_target=7.29854417815e-09

// orbital period time (seconds) & inclination (radians) of 65803 Didymos
orbitalPeriod=6.653820100923719e+07 
//orbitalInclination=0.0594906


////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of impact
r_fin_earth=1.00140803385 //in AU
theta_fin_earth=1.27861332991e-01 //in rad
z_fin_earth=-1.1953654e-05 //in AU

//all in AU/s
vr_fin_earth=-3.30528017792e-09
vtheta_fin_earth=1.98791889006e-07
vz_fin_earth=-9.89458740916e-12


////////////////////////////////////////////////////////////////////////// -- MARS -- ///////////////////////////////////////////////////////////////////////////////////
// Mars position and velocity at time of impact
// Data retrieved on: Tue Jul 12 10:36:36 2022 PST from https://ssd.jpl.nasa.gov/horizons/app.html#/
// X = 1.133502285100354E+00 Y = 9.001239043121653E-01 Z =-8.939355815431652E-03
// VX=-8.168906898929499E-03 VY= 1.215431102849015E-02 VZ= 4.551144215901228E-04

r_fin_mars=1.44742891827 //in AU
theta_fin_mars=6.71138282641e-01 //in rad
z_fin_mars=-8.9393558e-03 //in AU

//all in AU/s
vr_fin_mars=1.34410686391e-08 
vtheta_fin_mars=1.68961534632e-07
vz_fin_mars=5.26752802766e-09


///////////////////////////////////////////////////////////////////////// -- SPACECRAFT -- ///////////////////////////////////////////////////////////////////////////////

thruster_type=1 // The type of thruster used on the spacecraft
                //      0 is none and 1 is NEXT ion thruster

dry_mass=500    // Mass of the spacecraft without fuel (kg)
fuel_mass=150   // Mass of the fuel that spacecraft will have (kg)

// Determines initial velocity magnitude
c3scale=1.0
c3energy=4.676e6         // DART mission value
//v_impact=4.399378072e-08 // previously used DART mission value, the desired impact speed

//The allowed triptime range (in years)
triptime_min=1.0
triptime_max=2.0

//closest the spacecraft can get to the sun (AU)
sun_r_min=0.8

MSOI_scale=1.0 //scale to multiply the actual MSOI by to make it larger or smaller