////////////////////////////////////////////////////////////////////////// -- MARS (orbit) -- //////////////////////////////////////////////////////////////////////////////////
// Mars values
// Mars position and velocity at time of impact
// Values based on date: 2001-Oct-25 00:00:00.0000 TDB
// Data retrieved 8/1/2022 
//2460088.500000000 = A.D.  
//X = 1.328684150310384E+00 Y =-3.800875016332493E-01 Z =-4.061478704727236E-02
//VX= 4.386758789977252E-03 VY= 1.464802066411710E-02 VZ= 1.990185056114492E-04

r_fin_mars=1.38197976837//in AU
theta_fin_mars=6.00456319292 //in rad (-0.278622114257079+2*pi)
z_fin_mars=-4.06147870473E-02 //in AU

//all in AU/s
vr_fin_mars=2.18660489021e-09
vtheta_fin_mars=1.76963190864e-07
vz_fin_mars=2.30345492606e-09

////////////////////////////////////////////////////////////////////////// -- MARS (target) -- //////////////////////////////////////////////////////////////////////////////////
// Mars values
// Mars position and velocity at time of impact
// Values based on date: 2001-Oct-25 00:00:00.0000 TDB
// Data retrieved 8/1/2022
//2460088.500000000 = A.D.  
// X = 1.328684150310384E+00 Y =-3.800875016332493E-01 Z =-4.061478704727236E-02
// VX= 4.386758789977252E-03 VY= 1.464802066411710E-02 VZ= 1.990185056114492E-04
r_fin_target=1.38197976837//in AU
theta_fin_target=6.00456319292 //in rad
z_fin_target=-4.06147870473E-02 //in AU

//all in AU/s
vr_fin_target=2.18660489021e-09
vtheta_fin_target=1.76963190864e-07
vz_fin_target=2.30345492606e-09

////////////////////////////////////////////////////////////////////////// -- EARTH -- ///////////////////////////////////////////////////////////////////////////////////
// Earth position and velocity at time of arrival
// Data retreived 8/1/2022
// Values based on date: 2001-Oct-25 00:00:00.0000 TDB (Earth-Moon Barycenter)
// X = 8.467346327498801E-01 Y = 5.214334693536415E-01 Z =-2.750252541983678E-06
// VX=-9.301211248579973E-03 VY= 1.458502025732996E-02 VZ=-8.156941892026852E-08

r_fin_earth=9.94410579821E-01//in AU
theta_fin_earth=5.51968444140E-01//in rad
z_fin_earth=-2.75025254198E-06//in AU

//all in AU/s
vr_fin_earth=-3.14884998317E-09
vtheta_fin_earth=2.00188435217e-07
vz_fin_earth=-9.44090496762E-13

//orbitalPeriod of mars in seconds
orbitalPeriod=5.9355e+07

//R_Mars + altitude (=330 km) -> in AU //
gravAssistDist=2.4859431E-05

orbitalRadius=2.5327300E-05 //in AU -> radius of Mars + 400 km
orbitalSpeed=2.2473785E-08 //in AU/s -> circular orbital speed at 400km

MSOI_scale=1.0 //scale to multiply the actual MSOI by to make it larger or smaller

///////////////////////////////////////////////////////////////////////// -- SPACECRAFT -- ///////////////////////////////////////////////////////////////////////////////

thruster_type=1 // The type of thruster used on the spacecraft //0 is none and 1 is NEXT ion thruster

dry_mass=375    // Mass of the spacecraft without fuel (kg)
fuel_mass=375   // Mass of the fuel that spacecraft will have (kg)

// Determines initial velocity magnitude
c3scale=1.0
c3energy=8.0e6         // Estimate of appropriate c3 for this mission

//The allowed triptime range (in years)
triptime_min=0.5
triptime_max=1.0

//closest the spacecraft can get to the sun (AU)
sun_r_min=0.8